*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/GermanPocketDictionary-old.zip
/app/release/
/release/
/.idea/inspectionProfiles/Project_Default.xml
/.idea/
